@model SistemaDeVentasAIT.Models.Producto



<h2>Nuevo Producto</h2>

<form method="post">
    <div class="form-group">
        <label>Nombre:</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Precio:</label>
        <input asp-for="Precio" type="number" step="0.01" class="form-control" />
    </div>
    <div class="form-group">
        <label>Categoría:</label>
        <input asp-for="Stock" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
